h1{
  text-align: center;
  font-weight: 200;
  font-family: cursive;
 
  
}
.fck{
    justify-content: center;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.fc{
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;


}
body {
  background:#ededed;
}
.card-form__inner {
  padding-top: 0px;
}